<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="nodeMongo">
<head>
  <meta charset="utf-8">
  <title>NODEJS | MONGODB</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <meta name="author" content="">


  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <!-- Bootstrap core CSS -->
  <link href="public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="public/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="public/css/style.css">
</head>

<body>

    <%- include('layout/header'); -%>

    <div ng-view></div>

    <script type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="public/bower_components/angular/angular.min.js"></script>
    <script src="public/bower_components/angular-route/angular-route.min.js"></script>
    <script src="public/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script> 
    <script src="public/bower_components/ng-file-upload/angular-file-upload.min.js"></script>
    
    <script src="public/js/app/app.js"></script>
    <script src="public/js/controller/controller.js"></script>
    <script src="public/js/controller/auth.js"></script>
    <script src="public/js/services/services.js"></script>
</body>

</html>
