<section>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Country Form</div>
            <div class="panel-body">
                <form ng-submit="getCountry()" role="login">
                    <div class="form-group">
                        <input ng-model="NewCountry.c_name" type="text" name="c_name" placeholder="country name" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input ng-model="NewCountry.c_Desc" type="text" name="c_Desc" placeholder="country description" required class="form-control" />
                    </div>

                  <!--   <div ng-repeat="statedis in NewAddress.state">
                        <div class="form-group">
                            <input ng-model="statedis.name" type="text" name="state" placeholder="state name" required class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" ng-click="addState()">add state</button>
                    </div>

                    <div ng-repeat="locationdis in NewAddress.location">
                        <div class="form-group">
                            <input ng-model="locationdis.name" type="text" name="address" placeholder="address name" required class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" ng-click="addlocation()">add location</button>
                    </div> -->
                    <div class="form-group">
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
         <div class="panel panel-primary">
            <div class="panel-heading">State Form</div>
            <div class="panel-body">
                <form ng-submit="getAllstate()" role="login">
                     <label>Country:</label>
                    <select class="form-control"ng-model="NewState.countryID"  >
                     <option ng-repeat="country in AllCountries" value="{{country._id}}">{{country.c_name}}</option>
                    </select>
                    <div class="form-group">
                        <input ng-model="NewState.s_name" type="text" name="s_name" placeholder="State Name Here" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input ng-model="NewState.s_code" type="text" name="s_code" placeholder="State Code Here" required class="form-control" />
                    </div>

                  <!--   <div ng-repeat="statedis in NewAddress.state">
                        <div class="form-group">
                            <input ng-model="statedis.name" type="text" name="state" placeholder="state name" required class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" ng-click="addState()">add state</button>
                    </div>

                    <div ng-repeat="locationdis in NewAddress.location">
                        <div class="form-group">
                            <input ng-model="locationdis.name" type="text" name="address" placeholder="address name" required class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" ng-click="addlocation()">add location</button>
                    </div> -->
                    <div class="form-group">
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
         <div class="panel panel-primary">
            <div class="panel-heading">LOcation Form</div>
            <div class="panel-body">
                <form ng-submit="getalllocation()" role="login">
                  <label>Country:</label>
                    <select class="form-control"ng-model="NewLocation.countryID" ng-change="getState()" >
                     <option ng-repeat="country in AllCountries" value="{{country._id}}">{{country.c_name}}</option>
                    </select>
                    <label>State:</label>
                    <select class="form-control"ng-model="NewLocation.stateID">
                     <option ng-repeat="state in AllStatebyCountry" value="{{state._id}}">{{state.s_name}}</option>
                    </select>
                    <div class="form-group">
                        <input ng-model="NewLocation.location_name" type="text" name="location_name" placeholder="Location Name Here" required class="form-control" />
                    </div>

                    <div class="form-group">
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <input type="text" style="color:black;" ng-model="search">Search 
            </div> 
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <td>country Name</td>
                            <td>state</td>
                            <td>location</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="getAddress in AllAddress | filter :search ">
                            <td>{{getAddress.countryID.c_name}}</td>
                            <td>{{getAddress.stateID.s_name}}</td>
                            <td>{{getAddress.location_name}}</td>
                            <td>
                                <a href=""><i class="glyphicon glyphicon-plus"></i></a>
                                <a ng-click="getSpUser(getAddress._id);" href=""><i class="glyphicon glyphicon-pencil"></i></a>
                                <a ng-click="deleteUser($index,getAddress._id);" href=""><i class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
