<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1 class="text-info">Welcome to Sydney Uni - Breast Org Project </h1>
                    <h2 class="text-info"> Sydney Uni - Breast Org Project Online API Demonstration</h2>
                    <a href="/api" class="btn btn-primary btn-large">Start API NOW!</a>
                </div>
            </div>
        </div>
    </div>
</div>
