<div class="container">

	<div class="row" id="pwd-container">
		<div class="col-md-4"></div>

		<div class="col-md-4">
			<section class="login-form">
				<form ng-submit="login()" role="login" >
					<input ng-model="User.username" type="email" name="email" placeholder="Email" required class="form-control input-lg" value="joestudent@gmail.com" />
					<input ng-model="User.password" type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />
					<div class="pwstrength_viewport_progress"></div>
					<button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
					<div>
						<a href="#/register">Create account</a>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>
