<section>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Log Form</div>
            <div class="panel-body">
                <form ng-submit="getLogs()" role="login">
                <div class="form-group">
                   <label>Users:</label>
                    <select class="form-control"ng-model="NewLog.userID" ng-change="getuserLogs()">
                     <option  ng-repeat="User in AllUser" value="{{User.userID._id}}">{{User.u_fname}}</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <input ng-repeat="description in NewLog.logTranType" ng-model="description.desc" type="text" name="desc" placeholder="LogTranType" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input ng-repeat="page in NewLog.page" ng-model="page.name" type="text" name="name" placeholder="PageName" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <input type="text" style="color:black;"ng-model="search">
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <td>Date</td>
                            <td>Page</td>
                            <td>LogTranType</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="getuserlogs in UserLogs | filter :search ">
                            <td>{{getuserlogs.DateTran}}</td>
                            <td ng-repeat= "pname in getuserlogs.page">{{pname.name}}</td>
                            <td ng-repeat ="trandesc in getuserlogs.logTranType">{{trandesc.desc}}</td>
                            <td>
                                <a href=""><i class="glyphicon glyphicon-plus"></i></a>
                                <a ng-click="getSpUser(getUser._id);" href=""><i class="glyphicon glyphicon-pencil"></i></a>
                                <a ng-click="deleteUser($index,getUser.userID._id);" href=""><i class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
