<div class="container">

	<div class="row" id="pwd-container">
		<div class="col-md-4"></div>

		<div class="col-md-4">
			<section class="login-form">
				<form ng-submit="getUser()" role="login">
					<input ng-model="NewUser.u_fname" type="text" name="FirstName" placeholder="First Name" required class="form-control input-lg"/>
					<input ng-model="NewUser.u_lname" type="text" name="LastName" placeholder="Last Name" required class="form-control input-lg"/>
					<input ng-model="NewUser.u_email" type="email" name="email" placeholder="Email" required class="form-control input-lg"/>
					<input ng-model="NewUser.u_password" type="password" name="password" placeholder="Password" required class="form-control input-lg"/>
					<input ng-controller="ImageCtrl" type="file" ng-file-select ng-file-change="upload($files)">
					<button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Submit</button>
					<a href="#/" class="btn btn-lg btn-primary btn-block">Cancel</a>
				</form>
			</section>
		</div>
	</div>
</div>
