<section>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Request Form</div>
            <div class="panel-body">
                <form ng-submit="getRequest()" role="login">
                <div class="form-group">
                   <label>Users:</label>
                    <select class="form-control"ng-model="NewRequest.userID" ng-change="getuserrequests()">
                     <option  ng-repeat="User in AllUser" value="{{User.userID._id}}">{{User.u_fname}}</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <input ng-model="NewRequest.purpose" type="text" name="purpose" placeholder="purpose" required class="form-control" />
                    </div>
                   
                    <div class="form-group">
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Submit Request</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <input type="text" ng-model="search">
            </div>
            <div class="panel-body ">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="filters">
                            <td>Date Request</td>
                            <td>Purpose</td>
                            <td>ApproveTag</td>
                            <td>Image</td>
                            <td>Test Sets</td>
                            <td>results</td>
                            <td>readings</td>
                            <td>Action</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="getUserRequest in UserRequest | filter :search ">
                            <td>{{getUserRequest.date_request}}</td>
                            <td>{{getUserRequest.purpose}}</td>
                            <td>{{getUserRequest.approve_tag}}</td>
                            <td ><h6 ng-repeat="image in getUserRequest.images">{{image.file_name}}</h6> </td>
                            <td> <h6 ng-repeat="testsets in getUserRequest.test_sets">{{testsets.file_name}}</h6></td>  
                            <td><h6 ng-repeat="result in getUserRequest.results">{{result.file_name}}</h6></td>
                            <td> <h6 ng-repeat="readings in getUserRequest.reading">{{readings.file_name}}</h6></td>
                             <td>
                                
                                <a ng-click="getSpRequest(getUserRequest._id);" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-edit"></i></a>
                                <a ng-click="deleteUser($index,getUser.userID._id);" href=""><i class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
            <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="form-group">
                    <a class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove" style="
                        color: #DD4B39;
                    "></span></a>
                </div>
                    <h4 class="modal-title" id="myModalLabel"><i class="text-muted fa fa-shopping-cart"></i> <strong>Request</strong> - Information </h4>
                  </div>
                  <div class="modal-body">
                  
                    <table class="pull-left col-md-8 ">
                         <tbody>
                             <tr>
                                 <td class="h6"><strong>Date Requested:</strong></td>
                                 <td> </td>
                                 <td class="h5">{{sprequest.date_request}}</td>
                             </tr>
                             
                             <tr>
                                 <td class="h6"><strong>Purpose:</strong></td>
                                 <td> </td>
                                 <td class="h5">{{sprequest.purpose}}</td>
                             </tr>
                             
                             <tr>
                                 <td class="h6"><strong>Approve Date:</strong></td>
                                 <td> </td>
                                 <td class="h5">{{sprequest.approve_date}}</td>
                             </tr>
                             
                             <tr>
                                 <td class="h6"><strong>Approve Tag:</strong></td>
                                 <td> </td>
                                 <td class="h5">{{sprequest.approve_tag}}</td>
                             </tr>
                             
                             <tr>
                                 <td class="h6"><strong>Valid Until:</strong></td>
                                 <td> </td>
                                 <td class="h5">{{sprequest.valid_until}}</td>
                             </tr>
                             
                             <tr>
                                 <td class="h6"><strong>Filters</strong></td>
                                 <td> </td>
                                 <td class="h5">{{sprequest.filters}}</td>
                             </tr>  

                             <tr>
                                 <td class="h6"><strong>Requested By:</strong></td>
                                 <td> </td>
                                 <td class="h5">{{sprequest.userprofileID.u_fname}} {{sprequest.userprofileID.u_lname}}</td>
                             </tr>                            

                             <tr>
                                 <td class="btn-mais-info text-primary">
                                     <i class="open_info fa fa-plus-square-o"></i>
                                     <i class="open_info hide fa fa-minus-square-o"></i> informações
                                 </td>
                                 <td> </td>
                                 <td class="h5"></td>
                             </tr> 

                         </tbody>
                    </table>
                             
                         
                    <div class="col-md-4"> 
                        <img src="http://lorempixel.com/150/150/technics/" alt="teste" class="img-thumbnail">  
                    </div>
                    
                    <div class="clearfix"></div>
                   <p class="open_info hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  </div>
                    
                  <div class="modal-footer">       
                      
                    <div class="text-right pull-right col-md-3">
                        Varejo: <br/> 
                        <span class="h3 text-muted"><strong> R$50,00 </strong></span></span> 
                    </div> 
                      
                    <div class="text-right pull-right col-md-3">
                        Atacado: <br/> 
                        <span class="h3 text-muted"><strong>R$35,00</strong></span>
                    </div>
                     
                </div>
              </div>
            </div>
            </div>
</section>
