<section>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Roles Form</div>
            <div class="panel-body">
                <form ng-submit="getRoles()" role="login">
                	<div class="form-group">
                		<label>Roles Description</label>
                    	<input ng-model="NewRole.RoleDesc" type="text" name="RoleDesc" placeholder="RoleDesc" required class="form-control" />
                    </div>
                    <div class="form-group">
                    	<label>Read Permission</label>
                    	<input ng-model="NewRole.Read" type="text" name="Read" placeholder="Read" required class="form-control" />
                    </div>
                    <div class="form-group">
                    	<label>Write Permission</label>
                    	<input ng-model="NewRole.Write" type="text" name="Write" placeholder="Write" required class="form-control" />
                    </div>
                    <div class="form-group">
                    	<label>Delete Permission</label>
                    	<input ng-model="NewRole.Delete" type="text" name="Delete" placeholder="Delete" required class="form-control" />
                    </div>
                    <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <input type="text" ng-model="search" style="color:black;">
            </div>
            <div class="panel-body">
	            <table class="table">
	                <thead>
	                    <tr class="filters">
	                        <td>Role Description</td>
	                        <td>Read</td>
	                        <td>Write</td>
	                        <td>Delete</td>

	                        <td></td>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr ng-repeat="getRole in AllRoles | filter :search ">
	                        <td>{{getRole.RoleDesc}}</td>
	                        <td>{{getRole.Read}}</td>
	                        <td>{{getRole.Write}}</td>
	                        <td>{{getRole.Delete}}</td>
	                        <td>
	                            <a href=""><i class="glyphicon glyphicon-plus"></i></a>
	                            <a ng-click="getSpUser(getUser._id);" href=""><i class="glyphicon glyphicon-pencil"></i></a>
	                            <a ng-click="deleteUser($index,getRole._id);" href=""><i class="glyphicon glyphicon-remove"></i></a>
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	        <div class="panel-footer">Panel footer</div>
        </div>
    </div>
</section>
