<section>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">User Form</div>
            <div class="panel-body">
                <form ng-submit="getUser()" role="login">
                    <div class="form-group">
                        <input ng-model="NewUser.u_fname" type="text" name="FirstName" placeholder="First Name" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input ng-model="NewUser.u_lname" type="text" name="LastName" placeholder="Last Name" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input ng-model="NewUser.u_email" type="email" name="email" placeholder="Email" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input ng-model="NewUser.u_password" type="password" name="password" placeholder="Password" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input ng-model="NewUser.organization" type="text" name="organization" placeholder="organization" required class="form-control" />
                    </div>
                     <div class="form-group" >
                     <label>Role:</label>
                    <select class="form-control"ng-model="NewUser.roleID" >
                     <option ng-repeat="item in AllRoles" value="{{item._id}}">{{item.RoleDesc}}</option>
                    </select>
                    <label>Country:</label>
                    <select class="form-control"ng-model="NewUser.countryID" ng-change="getState()" >
                     <option ng-repeat="country in AllCountries" value="{{country._id}}">{{country.c_name}}</option>
                    </select>
                    <label>State:</label>
                    <select class="form-control"ng-model="NewUser.stateID" ng-change="getlocation()">
                     <option ng-repeat="state in AllStatebyCountry" value="{{state._id}}">{{state.s_name}}</option>
                    </select>
                    <label>Location:</label>
                    <select class="form-control"ng-model="NewUser.locationID" >
                     <option ng-repeat="location in Alllocationbystate" value="{{location._id}}">{{location.location_name}}</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <input type="text" style="color:black;" ng-model="search">
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-hover ">
                    <thead>
                        <tr class="filters">
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Email</td>
                            <td>Role</td>
                            <td>Address</td>
                            <td>image</td>
                            <td>upload Image</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="getUser in AllUser | filter :search ">
                            <td>{{getUser.u_fname}}</td>
                            <td>{{getUser.u_lname}}</td>
                            <td>{{getUser.userID.u_email}}</td>
                            <td>{{getUser.roleID.RoleDesc}}</td>
                            <td>{{getUser.locationID.location_name}},{{getUser.stateID.s_name}},{{getUser.countryID.c_name}}</td>
                            <td> <img src="{{getUser.u_image.url}}" style="width: 36px;"alt=""></td>
                            <td><input ng-controller="ImageCtrl" type="file"  ng-file-select ng-file-change="upload(getUser.userID._id,$files)"></td>
                            <td>
                                
                                <a ng-click="getSpUser(getUser.userID._id);" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a ng-click="deleteUser($index,getUser.userID._id);" href=""><i class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- edit modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                     <div class="form-group">
                    <a class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove" style="
                        color: #DD4B39;
                    "></span></a>
                </div>
                    <h4 class="modal-title" id="myModalLabel">More About {{TheUser.u_fname}}</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="{{TheUser.u_image.url}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">{{TheUser.u_fname}} {{TheUser.u_lname}} <small>{{TheUser.countryID.c_name}}</small></h3>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span>
                    </center>
                    <hr>
                    <center>
                     <form ng-submit="getuserupdate(TheUser.userID._id)" role="login">
                    <div class="form-group">
                        <input ng-model="TheUser.u_fname" type="text" name="FirstName" placeholder="First Name" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input ng-model="TheUser.u_lname" type="text" name="LastName" placeholder="Last Name" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input ng-model="TheUser.u_email" type="email" name="email" placeholder="Email" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input ng-model="TheUser.u_password" type="password" name="password" placeholder="Password" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <input ng-model="TheUser.organization" type="text" name="organization" placeholder="organization" required class="form-control" />
                    </div>

                     <div class="form-group" >
                     <label>Role:</label>
                    <select class="form-control"ng-model="TheUser.roleID" >
                     <option ng-repeat="item in AllRoles" value="{{item._id}}" ng-selected="TheUser.roleID.RoleDesc==item.RoleDesc">{{item.RoleDesc}}</option>
                    </select>
                    <label>Country:</label>
                    <select class="form-control"ng-model="TheUser.countryID" ng-change="getStated()" >
                     <option ng-repeat="country in AllCountries" value="{{country._id}}" ng-selected="TheUser.countryID.c_name==country.c_name">{{country.c_name}}</option>
                    </select>
                    <label>State:</label>
                    <select class="form-control"ng-model="TheUser.stateID" ng-change="getlocations()">
                     <option ng-repeat="state in AllStatebyCountry" value="{{state._id}}" ng-selected="TheUser.stateID.s_name==state.s_name">{{state.s_name}}</option>
                    </select>
                    <label>Location:</label>
                    <select class="form-control"ng-model="TheUser.locationID" >
                     <option ng-repeat="location in Alllocationbystate" value="{{location._id}}" ng-selected="TheUser.locationID.location_name==location.location_name">{{location.location_name}}</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Update</button>
                    </div>
                </form>
                    </center>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
</section>
