<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-uppercase" href="#/">Breast Cancer</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="#user">User</a>
                </li>
                <li>
                    <a href="#roles">Roles</a>
                </li>
                <li>
                    <a href="#address">Address</a>
                </li>
                <li>
                    <a href="#logs">Logs</a>
                </li>
                <li>
                    <a href="#request">Request</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown user-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i><span id="current_user"></span> User <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-gear"></i>Change Account Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a ng-click="logout();" href="#"><i class="fa fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
