#wrapper {
    padding-left: 0;
}
#page-wrapper {
    width: 100%;
    padding: 5px 15px;
}
@media (min-width: 768px) {
    /* Wrappers */

    #page-wrapper {
        padding: 15px 25px;
    }
    .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
        background-color: #080808;
    }
}
.jumbotron {
    text-align: center;
    background-color: #eeeeee;
}
.jumbotron h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    color: inherit;
    letter-spacing: -1px;
}

.progress-bar {
    color: #333;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
    &:focus {
        z-index: 2;
    }
}
body {
    padding-top:70px;
    margin-top: 50px;
}

